Binaries
DerivedDataCache
Intermediate
Saved
Build
Content
Plugins/DarkerNodes
Plugins/ElectronicNodes

.idea
.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.sln.DotSettings.user
*.suo
*.xcodeproj
*.xcworkspace